<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h1>{{ page.title }}</h1>

      <h3>Software Development Kit</h3>
      <ul>
        <li>Ruby, Golang, Java</li>
        <li>Visual Studio Code</li>
        <li>iTerm</li>
        <li>Docker</li>
        <li>Postman, BloomRPC</li>
      </ul>

      <h3>Others</h3>
      <ul>
        <li><a href="http://sourceforge.net/projects/gtkclipit/">ClipIt</a></li>
      	<li>GIMP</li>
      	<li>Evernote</li>
    	</ul>

      <blockquote>When you choose technology, you have to ignore what other people are doing, and consider only what will work the best - <a href="http://techcrunch.com/2014/10/18/you-too-may-be-a-victim-of-developaralysis/">Tech Crunch</a></blockquote>

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <div class="related-articles">
    <h4><small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
  </div>
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
<script src="https://www.draw.io/embed.js?s=flowchart"></script>
</body>

</html>
